* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}
.logo {
  max-width: 48px;
  max-height: 48px;
}
nav {
  display: flex;
}
ul {
  list-style: none;
  display: flex;
  padding-top: 11px;
  color: black;
  font-size: 14px;
}
li {
  margin-left: 25px;
}
.ul-2 {
  list-style: none;
  background-color: #29b24e;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: 400px;
  color: #ffffff;
  font-size: 14px;
  border: 1px;
  border-radius: 100px;
}

.parent {
  display: flex;
}

.image {
  max-width: 650px;
  max-height: 732px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 4px 18px 0px #c2c2c24d;
  box-shadow: 0px 4px 18px 0px #c2c2c24d;
  color: #b0b0b0;
}

.perent-div {
  max-width: 786px;
  max-height: 732px;
  background-color: #f8f8f8;
}
.div {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 10px;
}
.vip {
  max-width: 54px;
  max-height: 18px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 20px;
  margin-left: 40px;
  text-align: left;
  background-color: #29b24e;
}
h4 {
  max-width: 618px;
  max-height: 33px;
  margin: 30px 40px;
  opacity: 0.9px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
}
.paragrap-div p {
  width: 611px;
  height: 69px;
  opacity: 0.8px;
  padding: 0 20px;
}
.divradus {
  height: 70px;
  display: flex;
  border: 2px solid #ececec;
}
.divradus div {
  padding-top: 25px;
  margin-left: 20px;
  width: 78px;
  height: 23px;
  opacity: 0.8px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  color: #000000;
}

.property {
  display: flex;
  justify-content: space-between;
}

.adress {
  max-width: 103px;
  max-height: 23px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #000000;
  padding-left: 10px;
}

.Facilities {
  max-width: 133px;
  max-height: 208px;
  opacity: 0.8px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}

.Estate-name {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  color: #000000;
}

.frice-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.frise-content {
  max-width: 170px;
  max-height: 54px;
  font-family: Poppins;
  font-size: 24px;
  margin: 0 20px;
  font-weight: 600;
  line-height: 54px;
  text-align: right;
  color: #29b24e;
}
.send {
  max-width: 153px;
  max-height: 65px;
  padding: 13px 26px 13px 26px;
  gap: 10px;
  border-radius: 12px 0px 0px 0px;
  margin-left: 170px;

  border: 1px solid #29b24e;
}
.call {
  max-width: 80px;
  max-height: 47px;
  top: 803px;
  left: 1660px;
  padding: 13px 26px 13px 26px;
  gap: 10px;
  border-radius: 12px;
  opacity: 0px;
  background-color: #29b24e;
}

.one {
  display: flex;
  transform: translateY(70px);
  gap: 50px;
}

.card {
  max-width: 363px;
  max-height: 502px;
}

.card-title {
  max-width: 303px;
  max-height: 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000000;
  padding-bottom: 30px;
}

.card-text {
  max-width: 131px;
  max-height: 21px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #000000;
}

h6 {
  max-width: 120px;
  max-height: 27px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: #000000;
  padding-top: 50px;
}
.card-div {
  width: 124px;
  height: 36px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  text-align: right;
  margin: 0 130px;
  color: #29b24e;
}

footer {
  background-color: #29b24e;
  max-width: 1920px;
  height: 300px;
  width: 100%;
  border-radius: 25px 0px 0px 0px;
  box-shadow: 0px 4px 25px 0px #c2c2c21a;
  transform: translateY(300px);
}

.parent-footer {
  display: flex;
  text-decoration: dashed;
  margin: 20 50px;
  gap: 10px;
  padding: 20px;
}

.support {
  padding: 0 30%;
  margin-top: 30px;
}

.social-medea {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  gap: 15px;
  margin-top: -40px;
}

.footer-line {
  max-width: 1640px;
  max-height: 1px;
  margin: 50px;
  border: 1px solid #d0d0d0;
  margin-top: 100px;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

@media (max-widht: 1024px;) {
  header {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    display: none;
  }

  header nav {
    display: none;
  }
}
