* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}
.logo {
  max-width: 48px;
  max-height: 48px;
}
nav {
  display: flex;
}
ul {
  list-style: none;
  display: flex;
  padding-top: 11px;
  color: black;
  font-size: 14px;
}
li {
  margin-left: 25px;
}
.ul-2 {
  list-style: none;
  background-color: #29b24e;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: 400px;
  color: #ffffff;
  font-size: 14px;
  border: 1px;
  border-radius: 100px;
}
.conteiner {
  background-color: #f8f8f8;
  max-width: 395px;
  max-height: 715px;
  margin-top: 64px;
  padding: 3px;
}
.burger {
  margin-top: 20px;
}
h5 {
  padding-top: 20px;
}
.img-1 {
  max-width: 860px;
  max-height: 751px;
  margin-left: 400px;
  margin-top: -550px;
}

.image-p {
  max-width: 749px;
  max-height: 72px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
  margin-left: 500px;
  position: absolute;
  transform: translate(20px, -500px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-p-2 {
  margin-left: 700px;
  position: absolute;
  transform: translate(20px, -420px);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 336px;
  max-height: 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.img-div {
  width: 310px;
  height: 48px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-left: 650px;
  position: absolute;
  transform: translate(20px, -370px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-div2 {
  max-width: 58px;
  max-height: 21px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-left: 666px;
  position: absolute;
  transform: translate(20px, -355px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.Frame {
  max-width: 18px;
  max-height: 18px;
  margin-left: 920px;
  position: absolute;
  transform: translate(20px, -355px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.one {
  display: flex;
  transform: translateY(70px);
  gap: 50px;
}

.card {
  max-width: 363px;
  max-height: 502px;
}

.card-title {
  max-width: 303px;
  max-height: 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000000;
  padding-bottom: 30px;
}

.card-text {
  max-width: 131px;
  max-height: 21px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #000000;
}

h6 {
  max-width: 120px;
  max-height: 27px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: #000000;
  padding-top: 50px;
}
.card-div {
  width: 124px;
  height: 36px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  text-align: right;
  margin: 0 130px;
  color: #29b24e;
}

.two {
  display: flex;
  gap: 50px;
  transform: translateY(100px);
}

footer {
  background-color: #29b24e;
  max-width: 1920px;
  height: 179px;
  width: 100%;
  border-radius: 25px 0px 0px 0px;
  box-shadow: 0px 4px 25px 0px #c2c2c21a;
  transform: translateY(300px);
}

.parent-footer {
  display: flex;
  text-decoration: dashed;
  margin: 20 50px;
  gap: 10px;
  max-width: 1640px;
  max-height: 1px;
  margin: 50px;
  border: 1px solid #d0d0d0;
}

.support {
  padding: 0 30%;
}

.social-medea {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  gap: 15px;
  margin-top: -40px;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
}
